@tailwind base;
@tailwind components;
@tailwind utilities;

main,
body {
  @apply bg-white scrollbar-hide scroll-smooth;
}

@layer base {
  @font-face {
    font-family: "Satoshi-Variable";
    src: url("../public/fonts/Satoshi-Variable.woff2") format("woff2");
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "ClashDisplay-Variable";
    src: url("../public/fonts/ClashDisplay-Variable.woff2") format("woff2");
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  }

  body,
  html {
    font-family: "satoshi";
    padding: 0;
    margin: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.spinner {
  display: none !important;
}
